In [20]:
import pandas as pd
import numpy as np

In [176]:
file = "C:\\Users\\kisho\\Desktop\\UCB Bootcamp\\Repo\\03-Python\\Homework\\Instructions\\PyBank\\raw_data\\budget_data_2.csv"
file_read=pd.read_csv(file)
file_read.head()
# print("Total Months:" + str(file_read.Date.nunique()))

print("Total Revene " + str(file_read.Revenue.sum()))
print("Min Revene " + str(file_read.Revenue.min()))
a = file_read.loc[(file_read.Revenue.idxmax())]
print("Max Revene: " + str(a[0]) + " ($ " + str(a[1]) + ")")

Total Revene 36973911
Min Revene -1063151
Max Revene: Mar-2012 ($ 1141606)

In [168]:
import pandas as pd
#* Read in the `Soccer2018Data.csv` file provided

file = "C:\\Users\\kisho\\Desktop\\UCB Bootcamp\\Repo\\Sub-Activities\\04-Pandas\\2\\Activities\\05-Stu_SearchForTheWorst\\Resources\\Soccer2018Data.csv"
prefer_posn = input("Enter the position: ")
soccer_df = pd.read_csv(file)
# print(soccer_df.head())

# Print out a list of all of the values within the "Preferred Position" column

soccer_df["Preferred Position"].unique()
position_soccer_df = soccer_df.loc[soccer_df["Preferred Position"] == prefer_posn]
position_soccer_df.head()

# Sort the DataFrame based upon a player's skill in that position
position_soccer_df = position_soccer_df.sort_values(prefer_posn)
position_soccer_df

# Reset the index for the DataFrame so that the index is in order
position_soccer_df.reset_index()

# Print out the statistics for the worst player in that position to the screen
worst_position_soccer_df = position_soccer_df.iloc[:1]
worst_position_soccer_df

Enter the position: ST

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [30]:
frame_df = pd.DataFrame({"name":["kishor", "aparna","Kaju","Kapil","Kavita","Aaashik","Anu","Archana"],
                        "age":[10,12,15,20,25,26,27,28]
                        })
frame_df.head(10)
frame_df.columns
frame_df_organize = frame_df[["name","age"]]
frame_df_rename = frame_df_organize.rename(columns={ "age": "Age","name":"Name"})
frame_df_rename

      Name  Age
0   kishor   10
1   aparna   12
2     Kaju   15
3    Kapil   20
4   Kavita   25
5  Aaashik   26
6      Anu   27
7  Archana   28

In [46]:
file = 'C:\\Users\\kisho\\Desktop\\UCB Bootcamp\\Repo\\04-pandas\\1\\Activities\\05-Ins_DataFunctions\\Resources\\dataSet.csv'
file_read = pd.read_csv(file)

# file_read.head(10)
file_read["Amount"].max()
file_read["Amount"].min()

3.3999999999999999

In [7]:
# Modules
import os
import csv

# Prompt user for video lookup
video = input("What show or movie are you looking for? ")

# Set path for file
csvpath = 'C:\\Users\\kisho\\Desktop\\UCB Bootcamp\\Repo\\04-pandas\\1\\Activities\\02-Stu_NetflixRemix\\Resources\\netflix_ratings.csv'

# Bonus
# ------------------------------------------
# Set variable to check if we found the video
found = False

# Open the CSV
with open(csvpath, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")

    # Loop through looking for the video
    for row in csvreader:
        if video in row[0].lower():
            print(row[0]+ " is rated "+ row[1] + " with a rating of " + row[6])

            # Set variable to confirm we have found the video
            found = True

    # If the video is never found, alert the user
    if found == False:
        print("Sorry about this, we don't seem to have what you are looking for!")

What show or movie are you looking for? kids
Spy Kids 3: Game Over is rated PG with a rating of 80
Honey, I Shrunk the Kids is rated PG with a rating of 80

In [35]:
# Create a DataFrame of frames using a dictionary of lists
frame_df = pd.DataFrame({
    "Frame":["Ornate","Classical","Modern","Wood","Cardboard"],
    "Price":[15.00, 12.50, 10.00,13, 1.00],
    "Sales":[100, 200, 150, 200, None]
})
frame_df

       Frame  Price  Sales
0     Ornate   15.0  100.0
1  Classical   12.5  200.0
2     Modern   10.0  150.0
3       Wood   13.0  200.0
4  Cardboard    1.0    NaN

In [19]:
painting_df = pd.DataFrame([
    {"Painting":"Mona Lisa (Knockoff)", "Price":25, "Popularity":"Very Popular"},
    {"Painting":"Van Gogh (Knockoff)", "Price":20, "Popularity":"Popular"},
    {"Painting":"Starving Artist", "Price":10, "Popularity":"Average"},
    {"Painting":"Toddler Drawing", "Price":1, "Popularity":"Not Popular"}
])
painting_df

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1